.profile-page__content__actions__action-area {
  align-items: center;
  background-color: var(--lighter-grey);
  border: none;
  color: var(--dark-grey);
  display: flex;
  gap: 10px;
  height: 35px;
  justify-content: center;
  text-transform: capitalize;
  transition: 0.5s;
  width: 120px;
  border-radius: 25px;
}

.profile-page__content__actions__action-area:hover {
  cursor: pointer;
}

.profile-page__content__actions__action-area.direct-btn {
  border: 1px solid var(--accent);
  color: var(--accent);
}

.profile-page__content__actions__action-area.follow {
  background-color: var(--accent);
  color: #fff;
}

.profile-page__content__actions__action-area.unfollow {
  background-color: #ffe4e4;
  color: #d13838;
}

.profile-page__content__actions__action-area.unfollow:hover {
  box-shadow: 0 0 10px #ffe4e4;
}

.profile-page__content__actions__action-area.pending {
  background-color: #fff7ca;
  color: #504504;
}

.profile-page__content__actions__action-area__icon {
  font-size: 1.1em;
}

.profile-page__content__actions__action-area__text {
  /* border-left: 1px solid var(--dark-grey); */
  font-size: 14px;
}
