.section-title-component {
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.section-title-component__icon {
  color: var(--accent);
  font-size: 2em;
  background-color: var(--accent-light);
  padding: 3px;
  border-radius: 0.3em;
  cursor: pointer;
}

.section-title-component__title {
  font-weight: 100;
  font-size: 1.2em;
  color: var(--text-dark);
  text-transform: capitalize;
}
