.posts-grid-component {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 3px;
  gap: 3px;
  justify-items: center;
  justify-content: center;
  height: auto;
}

.posts-grid-component__link-image {
  width: 100%;
  /* height: 100%; */
  /* max-width: 300px; */
  display: flex;
}

.posts-grid-component__link-image__image {
  aspect-ratio: 1 / 1;
  width: 100%;
  object-fit: cover;
  border-radius: 0.75em;
}

.posts-grid-component__link-image__text {
  aspect-ratio: 1 / 1;
  width: 100%;
  object-fit: cover;
  border-radius: 0.75em;
  background-color: var(--accent-light);
  overflow: hidden;
  padding: 10px 10px;
  color: var(--medium-grey);
  /* border: 1px solid var(--light-grey); */
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
}

.posts-grid-component__link-image__others  {
  background: #fff;
  border: 1px solid #f33232;
  color: #f33232;
  padding: 20px;
  border-radius: 0.5em;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  /* font-weight: 800; */
  width: 100%;
  justify-content: center;
  /* font-size: 0.8em; */
}

.posts-grid-component__link-image__docs {
  background: #fff;
  border: 1px solid #326ff3;
  color: #326ff3;
  padding: 20px;
  border-radius: 0.5em;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  /* font-weight: 800; */
  width: 100%;
  justify-content: center;
  /* font-size: 0.8em; */
}

.posts-grid-component__link-image__others__icon,
.posts-grid-component__link-image__docs__icon {
  font-size: 1.3em;
}

.posts-grid-component__link-image__others__caption,
.posts-grid-component__link-image__docs__caption {
  color: var(--medium-grey);
  padding: 5px;
  max-width: 100px;
  text-align: center;
  border-radius: 0.5em;
  font-size: 0.7em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


.posts-grid-component__link-image__text__icon {
  font-size: 20px;
  color: var(--accent);
}
