.post-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - var(--height-header));
  overflow-y: hidden;
  width: 100%;
  font-family: var(--font-1);
  padding: 20px 20px 20px 0;
  gap: 20px;
}

.post-page.--only-text {
  display: flex;
  height: auto;
  padding: 20px;
}

.post-page__image-area {
  display: grid;
  max-height: calc(100vh - var(--height-header) - 40px);
  justify-content: center;
  width: 100%;
  align-items: center;
  padding: 0 10px;
  grid-template-rows: 100%;
  grid-template-columns: 1fr;
  align-items: flex-start;
}

.post-page__image-area__image {
  max-height: 100%;
  width: 100%;
  object-fit: contain;
}

.post-page__image-area__others, .post-page__image-area__docs {
  background-color: var(--accent-light);
  color: var(--accent);
  padding: 20px;
  border-radius: 0.5em;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  /* font-weight: 800; */
  width: 100%;
  justify-content: center;
  /* aspect-ratio: 1 / 1; */
}

.post-page__image-area__others > svg, .post-page__image-area__docs > svg {
  height: 60px;
}

.post-page__data-area {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: calc(100vh - (var(--height-header) + 40px));
  padding: 20px;
  background-color: #fff;
  border-radius: 0.75em;
  align-self: flex-start;
  width: 100%;
}

.post-page__data-area__caption {
  color: var(--dark-grey);
  word-break: break-all;
}
