.post-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - var(--height-header));
  overflow-y: hidden;
  width: 100%;
  font-family: var(--font-1);
  padding: 20px 20px 20px 0;
}

.post-page__image-area {
  display: flex;
  height: calc(100vh - var(--height-header));
  justify-content: center;
  width: 100%;
}

.post-page__image-area__image {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  padding: 20px;
}

.post-page__data-area {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: calc(100vh - (var(--height-header) + 40px));
  padding: 20px;
  background-color: #fff;
  border-radius: 0.75em;
  align-self: flex-start;
  width: 100%;
}

.post-page__data-area__caption {
  color: var(--dark-grey);
  word-break: break-all;
}
