@media screen and (max-width: 700px) {
  .post-page {
    display: flex;
    flex-direction: column;
    padding: 0;
    overflow-y: visible;
    height: auto;
  }

  .post-page .gallery-post-files-component {
    padding: 20px 20px 0 20px;
  }

  .post-page__data-area {
    max-height: 100%;
    border-radius: 0;
  }

  .post-page.--only-text {
    padding: 0;
  }
}
