@media screen and (max-width: 700px) {
  .post-page {
    display: flex;
    flex-direction: column;
    padding: 0;
    overflow-y: visible;
    height: auto;
  }

  .post-page__image-area {
    padding: 10px;
  }

  .post-page__data-area {
    max-height: auto;
    margin-bottom: var(--height-header);
    border-radius: 0;
  }

  .post-page.--only-text {
    padding: 0;
  }
}
