@keyframes toTop {
  
  0% {
    opacity: 0%;
    transform: translateY(20px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

.follows-page {
  width: 100%;
  background-color: #fff;
  /* height: calc(100vw - var(--height-header)); */
}

.follows-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
  gap: 10px;
  padding: 10px;
  justify-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.ref-container {
  width: 100%;
}

.follows-cards .card-user-profile {
  animation: toTop 0.5s;
}
