.carousel-root {
  width: 100%;
}

.carousel.carousel-slider {
  display: flex;
  align-items: center;
}

.carousel .control-dots {
  scale: 0.7;
}

.carousel.carousel-slider .control-arrow {
  /* height: 50px; */
  top: auto;
  bottom: auto;
  aspect-ratio: 1 / 1;
  height: 25px;
  border-radius: 50%;
  opacity: 1;
  background-color: #ffffffc9;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(5px 5px 10px #00000018);
  margin: 5px;
  padding: 0;
}

.carousel.carousel-slider .control-arrow:hover {
  background-color: #fff;
}

.carousel .control-next.control-arrow:before {
  border-left: none;
  content: url('https://api.iconify.design/iconamoon/arrow-left-2-bold.svg?rotate=180deg');
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel .control-prev.control-arrow:before {
  border-right: none;
  content: url('https://api.iconify.design/iconamoon/arrow-left-2-bold.svg');
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.control-arrow.control-prev.control-disabled,.control-arrow.control-next.control-disabled  {
  display: none;
}

.slider {
  display: flex;
  align-items: center;
  height: 100%;
}

.gallery-post-files-component {
  width: 100%;
}

.gallery-post-files-component__link-image {
  width: 100%;
  display: flex;
  aspect-ratio: 1 / 1;
}

.gallery-post-files-component__link-image__image {
  width: 100%;
  object-fit: contain;
  aspect-ratio: 1 / 1;
}

.gallery-post-files-component__link-image__others,
.gallery-post-files-component__link-image__docs {
  background-color: var(--accent-light);
  padding: 40px 20px;
  border-radius: 0.5em;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  /* font-weight: 800; */
  color: var(--text-dark);
  aspect-ratio: 1 / 1;
}

.gallery-post-files-component__link-image__others > svg,
.gallery-post-files-component__link-image__docs > svg {
  height: 50px;
}
