@keyframes shine-2 {
  0% {
    background-position-x: 200%;
  }
  100% {
    background-position-x: -100%;
  }
}

.profile-skeleton {
  flex-direction: column;
}

.profile-skeleton .page_profile {
  height: 100%;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-page-content.profile-skeleton.unblock {
  /* padding-top: 25px; */
  animation: paddingGrow 0.1s linear;
  position: relative;
}

.profile-skeleton .page_profile .cover {
  width: 100%;
}

.profile-skeleton .page_profile .cover .img {
  width: 100%;
  height: 350px;
  background-color: var(--lighter-grey);
}

.profile-skeleton .page_profile .cover .img,
.profile-skeleton .profile_avatar-and-user .img,
.profile-skeleton .profile_avatar-and-user .name,
.profile-skeleton .profile_avatar-and-user .nick {
  background-color: var(--lighter-grey-2);
  background-repeat: no-repeat;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.541) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 200% 100%;
  background-repeat: no-repeat;
  background-position-x: 200%;
  text-decoration: none;
  animation: shine-1 1s infinite;
}

.profile-skeleton .profile_content {
  /* background-color: #fff; */
  transform: translateY(-150px);
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--lighter-grey);
  position: relative;
  padding-top: 130px;
  background-color: #ffffffd8;
  backdrop-filter: blur(10px);
}

.profile-skeleton .profile_avatar-and-user {
  position: absolute;
  top: -100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.profile-skeleton .profile_avatar-and-user .img {
  height: var(--square-medium);
  width: var(--square-medium);
  border-radius: 0.5em;
  border: 2px solid #fff;
  background-color: var(--lighter-grey);
}

.profile-skeleton .profile_avatar-and-user .name,
.profile-skeleton .profile_avatar-and-user .nick {
  color: var(--dark-grey);
  font-size: 1.2em;
  max-width: 180px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.profile-skeleton .profile_avatar-and-user .name {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.profile-skeleton .profile_avatar-and-user .name > span {
  height: 25px;
  width: 160px;
  background-color: var(--lighter-grey);
  padding-bottom: 2px;
}

.profile-skeleton .profile_avatar-and-user .nick {
  color: var(--light-grey);
  font-size: 1em;
  height: 19px;
  background-color: var(--lighter-grey);
  width: 100px;
}
