@keyframes blockGrow {
  0% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

.profile-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  /* position: relative; */
  font-family: var(--font-1);
  padding-top: 20px;
}

.profile-page.unblock {
  animation: blockGrow 0.3s linear;
  position: relative;
}

.profile-page__cover {
  width: 100%;
}

.profile-page__cover__image {
  height: 350px;
  object-fit: cover;
  width: 100%;
  border-radius: 0.75em;
  border: none;
}

.profile-page__content {
  transform: translateY(-150px);
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--lighter-grey);
  border-radius: 0.75em;
  /* position: relative; */
  padding-top: 120px;
  background-color: #fff;
}

.profile-page__content__avatar-and-user {
  position: absolute;
  top: -100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.profile-page__content__avatar-and-user__name-area,
.profile-page__content__avatar-and-user__nick {
  color: var(--dark-grey);
  font-size: 1.1em;
  max-width: 180px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.profile-page__content__avatar-and-user__name-area {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.profile-page__content__avatar-and-user__name-area__name {
  max-width: calc(180px - 20px);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-bottom: 2px;
  color: var(--secondary-dark);
}

.profile-page__content__avatar-and-user__name-area__icon-verified {
  font-size: 0.8em;
  width: 16px;
}

.profile-page__content__avatar-and-user__nick {
  color: var(--light-grey);
  font-size: 0.8em;
}

.profile-page__content__actions {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.profile_actions .profile_action-btn {
  background-color: var(--lighter-grey-2);
  width: 120px;
  border: 2px solid var(--lighter-grey-2);
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  transition: 0.5s;
  font-size: 0.8em;
  text-transform: capitalize;
  color: var(--dark-grey);
}

.profile-page__content__actions__config-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  background: none;
  border: none;
  font-size: 1.2em;
  padding: 5px;
  color: var(--dark-grey);
}

.profile-page__content__actions__config-btn:hover {
  cursor: pointer;
}

.profile-page__content__stats-and-posts {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-page__content__stats-and-posts__stats-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-end;
  width: 100%;
  max-width: 400px;
  justify-content: space-around;
  background-color: var(--lighter-grey);
  border-radius: 0.75em;
  margin: auto;
}

.profile-page__content__stats-and-posts__stats-area__stats {
  text-decoration: none;
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  color: var(--medium-grey);
  padding: 15px;
  background-image: linear-gradient(
    -60deg,
    transparent,
    transparent 40%,
    #ffffffe0 40%,
    #ffffffe0 60%,
    transparent 60%,
    transparent 100%
  );
  background-size: 200% 100%;
  background-repeat: no-repeat;
  background-position-x: 200%;
  /* border-top: 2px solid var(--accent); */
}

.profile-page__content__stats-and-posts__stats-area__stats:hover {
  animation: shine 3s 0s infinite;
}

.profile-page__content__stats-and-posts__stats-area__stats__title {
  font-size: 0.8em;
}

.profile-page__content__stats-and-posts__stats-area__stats__count {
  font-weight: 800;
}

.profile-page__content__stats-and-posts__posts {
  width: 100%;
  background-color: var(--lighter-grey);
  border-top: 1px solid var(--lighter-grey);
}
