.post-header-component__header {
  display: flex;
  gap: 10px;
  width: 100%;
}

.post-header-component__header__texts-area {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.post-header-component__header__texts-area__name-and-verified {
  align-items: center;
  color: var(--text-dark);
  display: flex;
  gap: 5px;
}

.post-header-component__header__texts-area__name-and-verified__name {
  display: flex;
  gap: 3px;
  color: var(--secondary-dark-medium);
  font-family: var(--font-2-bold);
}

.post-header-component__header__texts-area__name-and-verified__name__icon-verified {
  align-items: center;
  display: flex;
  transform: translateY(-2px);
}

.post-header-component__header__texts-area__timer {
  color: var(--light-grey);
  font-size: 0.7em;
}
