.post-header-component__header {
  display: flex;
  gap: 10px;
  width: 100%;
  position: relative;
}

.post-header-component__header__texts-area {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.post-header-component__header__texts-area__name-and-verified {
  align-items: center;
  color: var(--text-dark);
  display: flex;
  gap: 5px;
}

.post-header-component__header__texts-area__name-and-verified__name {
  display: flex;
  gap: 3px;
  color: var(--secondary-dark-medium);
  font-family: var(--font-2-bold);
}

.post-header-component__header__texts-area__name-and-verified__name__icon-verified {
  align-items: center;
  display: flex;
  transform: translateY(-2px);
}

.post-header-component__header__texts-area__timer {
  color: var(--light-grey);
  font-size: 0.7em;
}

.post-header-component__header__manager-btn {
  position: absolute;
  right: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.post-header-component__header__manager-menu {
  background-color: #fff;
  box-shadow: 0 0 5px #00000063;
  position: absolute;
  right: 0;
  top: 30px;
  min-width: 100px;
  border-radius: 0.5em;
  padding: 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.post-header-component__header__manager-menu__btn {
  padding: 10px;
  border-radius: 0.5em;
  border: none;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  /* background-color: var(--light-grey-2); */
  background: none;
  color: var(--medium-grey);
}

.post-header-component__header__manager-menu__btn.--delete {
  /* background-color: #ffeded; */
  color: #da2e2e;
}

/* .post-header-component__header__manager-menu__btn.--delete {
  background-color: #ffeded;
  color: #da2e2e;
} */
