@media screen and (max-width: 768px) {
  .search-results {
    width: 100vw;
    position: fixed;
    top: var(--height-header);
    box-shadow: none;
    border: none;
    left: 0;
    max-width: none;
    max-height: none;
    height: calc(100vh - (2 * var(--height-header)));
  }
}
