.search-results-component {
  position: absolute;
  top: 58px;
  width: 300px;
  padding: 10px;
  gap: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-height: 500px;
  overflow-y: auto;
  background-color: var(--lighter-grey);
  box-shadow: 0 5px 10px #0000006c;
  z-index: 700;
  transform: translateX(-80px);
}

.search-results-component::-webkit-scrollbar {
  display: none;
}

.search-results-component__card {
  width: 100%;
}
