.search-results {
  box-shadow: 0 0 5px var(--lighter-grey-2);
  position: absolute;
  top: 150%;
  width: 100%;
  padding: 10px;
  gap: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-height: 500px;
  overflow-y: auto;
  background-color: #fff;
}

.search-results > div {
  width: 100%;
}

.search-results::-webkit-scrollbar {
  display: none;
}
