.sign-page {
  align-items: center;
  background-image: url("../../../images/background.jpg");
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.sign-page__form {
  align-items: center;
  background-color: #fff;
  border-bottom: 5px solid var(--accent);
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 320px;
  padding: 40px;
  position: relative;
  width: 100%;
}

.sign-page__form__header {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sign-page__form__header__logo {
  color: var(--accent);
  font-size: 2.5em;
}

.sign-page__form__header__name {
  color: var(--accent-2);
  font-size: 1.2em;
  font-weight: 100;
}

.sign-page__form__header__slogan {
  color: var(--light-grey);
  font-size: 0.7em;
  font-style: italic;
}

.sign-page__form__inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sign-page__form__inputs__input {
  border: none;
  border-bottom: 1px solid var(--medium-grey);
  outline: none;
  padding: 5px;
  width: 100%;
}

.sign-page__form__inputs__input::placeholder {
  color: var(--light-grey);
  opacity: 0.6;
}

.sign-page__form__inputs__error-feedback {
  color: var(--error-color);
  font-size: 0.6em;
  font-weight: 800;
}

.sign-page__form__alternate-form-text {
  color: var(--medium-grey);
  font-size: 0.8em;
  font-weight: 100;
}

.sign-page__form__alternate-form-text__link {
  color: var(--accent);
  margin-inline-start: 5px;
  text-decoration: none;
}

.sign-page__form__alternate-form-text__link:hover {
  text-decoration: underline;
}

.sign-page__form__submit-btn {
  background-color: #0D181E;
  border: none;
  color: #fff;
  font-size: 0.7em;
  padding: 10px 30px;
  transition: 0.5s;
}

.login-register_form .btn-submit:hover {
  opacity: 0.8;
}
