.stories {
  display: flex;
  gap: 20px;
  width: 100%;
  /* justify-content: space-evenly; */
  padding: 5px 20px 5px 20px;
  overflow: auto hidden;
  min-height: 240px;
  scroll-snap-type: x mandatory;
}

.stories::-webkit-scrollbar {
  height: 10px;
}

.stories__create {
  height: var(--height-story);
  min-width: 120px;
  background-size: cover;
  border-radius: 0.75em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 10px;
  gap: 10px;
  cursor: pointer;
  background-image: url("../../../images/stock-photo-view-grey-clouds-blue-sky.jpeg");
}

.stories__create__icon__border {
  padding: 3px;
  border: 2px solid #fff;
  display: flex;
  border-radius: 0.6em;
}

.stories__create__icon {
  color: var(--accent);
  font-size: 1.5em;
  background-color: #fff;
  border-radius: 0.25em;
  padding: 4px;
}

.stories__create__text {
  font-size: 0.8em;
  color: #fff;
  text-shadow: 0px 0px 10px var(--accent);
  font-family: var(--font-2-bold);
}

@media screen and (min-width: 1000px) {
  .stories {
    display: none;
  }
}
