.stories {
  display: flex;
  gap: 20px;
  width: 100%;
  /* justify-content: space-evenly; */
  padding: 5px 20px 20px 20px;
  overflow: auto hidden;
  min-height: 290px;
  scroll-snap-type: x mandatory;
}

.stories::-webkit-scrollbar {
  height: 12px;
}

.story {
  min-height: 250px;
  min-width: 120px;
  max-width: 120px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  scroll-snap-align: start end;
}

.story__content {
  height: 180px;
  width: 100%;
  border-radius: 0.5em;
  box-shadow: 0px 5px 10px #0000003b;
  /* border: 2px solid var(--light-grey); */
  overflow: hidden;
  /* border: 2px solid #fff;   */
}

.story__content__preview {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: blur(2px);
}

.story__owner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* background-color: red; */
}

.story__owner__avatar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 5px 10px #00000031;
  border: 2px solid #fff;
  position: absolute;
  bottom: 105px;
}

.story__owner__name {
  font-size: 0.8em;
  color: var(--dark-grey);
  max-width: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; 
}
