.home-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
  padding: 20px 10px;
  font-family: var(--font-1);
  gap: 20px;
}

.home-right-aside {
  min-width: var(--height-header-left);
  width: var(--height-header-left);
  overflow-y: auto;
  padding: 20px;
  background-color: var(--lighter-grey);
}
