@font-face {
  font-family: google;
  src: url("./fonts/product-sans-cdnfonts/ProductSans-Regular.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: google;
  border-radius: 0;
  text-decoration: none;
}

.div-page {
  padding-top: var(--height-header);
  display: flex;
  height: 100vh;
  width: 100%;
}

.div-page-content {
  height: 100%;
  display: flex;
  flex-grow: 1;
}

@media screen and (max-width: 600px) {
  .div-page {
    padding-bottom: var(--height-header);
  }
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: none;
  scrollbar-color: var(--light-grey) #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 13px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--light-grey);
  border-radius: 10px;
  border: 3px solid #ffffff;
}
