@font-face {
  font-family: google;
  src: url("./fonts/product-sans-cdnfonts/ProductSans-Regular.ttf");
}

@font-face {
  font-family: galaxy;
  src: url("./fonts/cream_2/cream-DEMO.ttf");
}

@font-face {
  font-family: gilroy;
  src: url("./fonts/gilroy-bold-cufonfonts/Gilroy-Medium.ttf");
}

@font-face {
  font-family: gilroy-bold;
  src: url("./fonts/gilroy-bold-cufonfonts/Gilroy-Bold.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 0;
  text-decoration: none;
}

.div-page {
  padding-top: var(--height-header);
  display: flex;
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-color: var(--lighter-grey);
}

.div-page-content {
  height: 100%;
  display: flex;
  flex-grow: 1;
}

@media screen and (max-width: 600px) {
  .div-page {
    padding-bottom: var(--height-header);
  }
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: none;
  scrollbar-color: var(--light-grey) #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 13px;
  /* display: none; */
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--light-grey);
  border-radius: 10px;
  border: 3px solid var(--lighter-grey);
}

*::-webkit-scrollbar-thumb {
  background: #d8d8d8;
}

*::-webkit-scrollbar-thumb:hover {
  background: #949494;
}
