.header-component {
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid var(--lighter-grey-2);
  display: flex;
  height: var(--height-header);
  justify-content: space-between;
  left: 0;
  padding: 25px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  font-family: var(--font-2);
}

.header-component__logo-and-name {
  align-items: center;
  display: flex;
  gap: 15px;
  color: var(--dark-grey);
}

.header-component__logo-and-name__logo {
  color: var(--accent);
  font-size: 2em;
  background-color: var(--accent-light);
  border-radius: 0.3em;
  padding: 5px;
  height: 35px;
  width: 35px;
}

.header-component__logo-and-name__name {
  color: var(--secondary-dark);
  font-size: 1.5em;
  font-weight: 100;
  font-family: galaxy, sans-serif;
  /* padding-top: 6px; */
}

.header-component__search-and-login {
  gap: 15px;
  display: flex;
  align-items: stretch;
}

.header-component__search-and-login__btn-create {
  background-color: var(--accent);
  height: 35px;
  border: none;
  width: 90px;
  color: #fff;
  border-radius: 0.75em;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  font-family: var(--font-2-bold);
}

.header-component__search-and-login__btn-create__text {
  padding-top: 3px;
}

.header-component__search-and-login__search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  position: relative;
}

.search-and-login__search__icon {
  position: absolute;
  color: var(--light-grey);
  left: 10px;
  display: flex;
}

.header-component__search-and-login__search__input {
  background-color: var(--lighter-grey-2);
  border-radius: 0.75em;
  border: none;
  max-width: 230px;
  outline: none;
  padding: 10px 10px 10px 35px;
  /* min-width: 100%; */
  font-family: var(--font-2);
}

.header-component__search-and-login__search__input::placeholder {
  color: var(--light-grey);
  /* font-weight: 600; */
  font-family: var(--font-2);
  letter-spacing: 0.5px;
  transform: translateY(1px);
}

.header-component__search-and-login__login {
  background-color: var(--lighter-grey);
  padding: 5px 10px;
  color: var(--dark-grey);
  font-size: 0.8em;
  display: flex;
  align-items: center;
}

.header-component__search-and-login__avatar {
  width: 35px;
  height: 35px;
  border-radius: 0.75em;
  object-fit: cover;
}
