@media screen and (max-width: 600px) {
  .header-mobile {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: var(--height-header);
    gap: 20px;
  }

  .header-mobile_center-content {
    width: auto;
  }
  
  .header-mobile_right-content {
    height: var(--height-header);
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px;
    width: 100%;
    justify-self: flex-end;
    border-top: 1px solid var(--lighter-grey);
  }

  .header-mobile_right-content ul {
    display: flex;
    gap: 0;
    justify-content: space-around;
    width: 100%;
  }
}
