:root {
  --medium-grey: #444;
  --dark-grey: #333;
  --light-grey: #999;
  --lighter-grey-2: #e4e4e4;
  --lighter-grey: #f0f0f0;
  --accent: #c51717;
  --accent-2: #0D181E;
  --error-color: #c52c2c;

  --height-header: 80px;
  --height-header-left: 180px;
  --max-width-page-content: 800px;

  --square-medium: 150px;
}

.verified-identity {
  color: #03a064;
}

.verified-public_figure {
  color: #3488d6;
}

.verified-company {
  color: #d64c34;
}

