.post-comment-component {
  display: grid;
  grid-template-columns: 35px 1fr;
  gap: 10px;
  justify-items: flex-start;
}

.post-comment-component__avatar-link {
  display: flex;
}

.post-comment-component__comment-area {
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* padding: 0 10px 10px 0; */
  border-radius: 0.5em;
  position: relative;
}

.post-comment-component__comment-area__name-and-timer {
  display: flex;
  gap: 5px;
  align-items: center;
}

.post-comment-component__comment-area__name-and-timer__name-area {
  display: flex;
  gap: 5px;
  color: var(--dark-grey);
  align-items: center;
  font-size: 0.8em;
  font-weight: 600;
}

.post-comment-component__comment-area__name-and-timer__name-area__name {
  display: flex;
  align-items: center;
  gap: 5px;
}

.post-comment-component__comment-area__name-and-timer__name-area__name__verified {
  display: flex;
  align-items: center;
}

.post-comment-component__comment-area__name-and-timer__timer {
  font-size: 0.6em;
  color: var(--light-grey);
}

.post-comment-component__comment-area__comment {
  color: var(--dark-grey);
  word-break: break-all;
  font-size: 0.9em;
  font-weight: 100;
}
