.post-comment-component {
  display: grid;
  grid-template-columns: 30px 1fr;
  gap: 10px;
  justify-items: flex-start;
}

.post-comment-component__avatar-link {
  display: flex;
}

.post-comment-component__avatar-link__avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.post-comment-component__comment-area {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: var(--lighter-grey);
  border-radius: 1em;
}

.post-comment-component__comment-area__name-and-timer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* align-items: center; */
  justify-content: space-evenly;
}

.post-comment-component__comment-area__name-and-timer__name-area {
  display: flex;
  gap: 5px;
  color: var(--dark-grey);
  align-items: center;
  font-size: 0.7em;
  font-weight: 600;
}

.post-comment-component__comment-area__name-and-timer__name-area__name {
  display: flex;
  align-items: center;
  gap: 5px;
}

.post-comment-component__comment-area__name-and-timer__name-area__verified {
  display: flex;
  align-items: center;
}

.post-comment-component__comment-area__name-and-timer__timer {
  font-size: 0.6em;
  color: var(--accent);
}

.post-comment-component__comment-area__comment {
  color: var(--dark-grey);
  word-break: break-all;
  font-size: 0.8em;
}
