.new-post {
  display: flex;
  background-color: #fff;
  width: 100%;
  justify-content: space-between;
  padding: 15px;
  border-radius: 0.75em;
  max-width: 600px;
}

.new-post__avatar-and-name {
  display: flex;
  align-items: center;
  gap: 10px;
}

.new-post__avatar-and-name__name {
  color: var(--light-grey);
  /* letter-spacing: 0.5px; */
  font-size: 0.8em;
}

.new-post__avatar-and-name__avatar {
  border-radius: 0.75em;
  height: 40px;
  object-fit: cover;
  width: 40px;
}

.new-post__action-btn {
  background-color: var(--accent);
  height: 35px;
  border: none;
  width: 90px;
  color: #fff;
  border-radius: 0.75em;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  font-family: var(--font-2-bold);
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.new-post__action-btn__text {
  padding-top: 3px;
}
